@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  /* Colors */
  --color-background: #1b1b1b;
  --color-foreground: #fff;
  --color-primary: #fff;
  --color-secondary: #1a1a1a;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #dc2626;

  /* Typography */
  --font-mono: var(--font-source-code-pro);
  --font-sans: var(--font-inter);

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.75rem;

  /* Border radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-full: 9999px;
  --radius-xl: calc(var(--radius) + 4px);

  /* Map CSS vars to Tailwind */
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --radius: 0.625rem;
  --background: #1b1b1b;
  --foreground: #e5e5e5;
  --card: #1b1b1b;
  --card-foreground: #e5e5e5;
  --popover: #1b1b1b;
  --popover-foreground: #e5e5e5;
  --primary: #e5e5e5;
  --primary-foreground: #1b1b1b;
  --secondary: #2a2a2a;
  --secondary-foreground: #e5e5e5;
  --muted: #2a2a2a;
  --muted-foreground: #777777;
  --accent: #e5e5e5;
  --accent-foreground: #1b1b1b;
  --destructive: #dc2626;
  --border: #333333;
  --input: #333333;
  --ring: #e5e5e5;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply bg-background;
  }

  body {
    @apply bg-background font-mono leading-tight text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans text-xl font-bold tracking-tight;
  }

  p {
    @apply text-sm leading-normal;
  }

  ul {
    @apply list-inside list-disc space-y-3 text-sm;
  }

  li {
    @apply mb-2 text-sm;
  }

  li::marker {
    @apply text-muted-foreground;
  }

  a {
    @apply transition-colors duration-200 ease-in-out;
  }

  a:hover {
    @apply text-accent;
  }

  .btn {
    @apply inline-flex items-center justify-center border border-muted-foreground bg-transparent px-3 py-1.5 font-mono text-xs uppercase text-foreground transition-colors hover:border-foreground hover:text-foreground;
  }
}
